{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.css' %}">
    <!--额外css填入位置-->
    {% block css %} {% endblock %}
    <title>      
        {% block title %} {% endblock %}
    </title>
</head>

<body>
    <div class="container">
        <!--这是表头的内容-->
        <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">在线图片识别</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>{% if request.session.info %} {% if request.session.info.powerRights == 0 %}<a href="/user/list/">用户管理 </a>{% endif%} {% else %}<a href="/picturerec/uploadfile/"></a>{% endif %}</li>
                    <li><a href="/picturerec/uploadfile/">上传样本集 </a></li>
                    <li><a href="/picturerec/filelist/">模式识别 </a></li>
                    <li><a href="/image/uploadfile/">图片识别 </a></li>
                    <li><a href="/image/result/">识别结果 </a></li>
                    <li><a href="/algorithm/list/">结果统计 </a></li>
                    <li><a href="/echarts/">ECharts </a></li>
                </ul>                                
                <ul class="nav navbar-nav navbar-right">                   
                    <li class="dropdown">
                        <!--修改这里显示用户名-->
                        <!--{{request.session.info.userName}} -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false"><span class="caret"></span>{% if request.session.info %}  {{request.session.info.userName}} {% else %} 老黄牛 {% endif %}</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">个人资料</a></li>
                            <li><a href="#">我的信息</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout/">注销</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
        <div>
            <!--内容填入位置-->            
                {% block contain %} {% endblock %}
           
        </div>
    </div>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="{%static 'js/jquery-3.6.0.min.js' %}"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="{%static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.js'%}"></script>
    <!--额外js填入位置-->
    {% block js %} {% endblock %}
</body>

</html>